<template>
    <ul class="list-group" v-if="insuranceCases.length > 0">
        <li class="list-group-item" v-for="insuranceCase in insuranceCases">
            <strong>Title:</strong> {{ insuranceCase.case_title }} <br/>
            <strong>Created:</strong> {{ insuranceCase.created_at}}
        </li>
    </ul>
    <div v-else>
        <div class="alert alert-info">List is empty</div>
    </div>
</template>

<script>
    import InsuranceCaseModel from '../models/InsuranceCase';

    export default {
        name: "FormListComponent",
        props: ['isNotFinished'],
        data() {
            return {
                insuranceCases: [],
            }
        },
        created() {
            InsuranceCaseModel.getInsuranceCases()
                .then((response) => {
                    this.insuranceCases = response.data;
                })
                .catch(error => console.log(error));
        },
        watch: {
            isNotFinished() {
                InsuranceCaseModel.getInsuranceCases()
                    .then((response) => {
                        this.insuranceCases = response.data;
                    })
                    .catch(error => console.log(error));
            }
        }

    }
</script>

<style scoped>

</style>
