<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a data-toggle="tab" v-if="!isNotFinished" class="nav-link btn btn-success mr-2"
                               @click="createNew()" href="#page_1">Create Case</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" :class="{active: !isNotFinished}"
                               href="#list">List</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link"
                               :class="{disabled: !isNotFinished, active: isNotFinished}" href="#page_1">Page 1</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" class="nav-link" :class="{disabled: !isNotFinished}" href="#page_2">Page
                                2</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="list" class="tab-pane fade"
                             :class="{in: !isNotFinished, active: !isNotFinished, show: !isNotFinished}">
                            <br>
                            <form-list-component :isNotFinished="isNotFinished"></form-list-component>
                        </div>
                        <div id="page_1" class="tab-pane fade"
                             :class="{in: isNotFinished, active: isNotFinished, show: isNotFinished}">
                            <br>
                            <form-first-page-component :insuranceCase="insuranceCase"></form-first-page-component>
                        </div>
                        <div id="page_2" class="tab-pane fade">
                            <br>
                            <form-second-page-component :insuranceCase="insuranceCase"
                                                        :isNotFinished="isNotFinished"
                                                        v-on:finishCase="finishCase"></form-second-page-component>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import InsuranceCaseModel from '../models/InsuranceCase';
    import BrandModelModel from '../models/BrandModel';
    import {eventBus} from '../store';

    export default {
        name: "FormMainComponent",
        data() {
            return {
                isNotFinished: false,
                isButtonDeactivated: false,
                insuranceCase: InsuranceCaseModel.getSample(),
                // insuranceCaseModel: new InsuranceCase,
                brands: [{id: 0, brand_name: 'select'}],
                brandModels: [{id: 0, model_name: 'select brand first'}],
            }
        },
        created() {
            InsuranceCaseModel.getNotFinishedInsuranceCase()
                .then((response) => {
                    if (response.data.id != undefined) {
                        this.insuranceCase = response.data;
                        this.isNotFinished = true;
                        this.checkIsDrivetrainable();
                    }
                })
                .catch(error => console.log(error));

        },
        methods: {
            createNew() {
                InsuranceCaseModel.createNew()
                    .then((response) => {
                        this.insuranceCase = response.data;
                        this.isNotFinished = true;
                    })
                    .catch(error => console.log(error));
            },
            finishCase() {
                this.insuranceCase = InsuranceCaseModel.getSample();
                this.isNotFinished = false;
            },
            checkIsDrivetrainable() {
                if (this.insuranceCase.brand_model_id != null) {
                    BrandModelModel.getModelById(this.insuranceCase.brand_model_id)
                        .then((response) => {
                            if (response.data.id != undefined && response.data.is_drivetrainable == 1) {
                                eventBus.setIsDrivetrainable(true);
                            }
                        })
                        .catch(error => console.log(error));
                }
            }
        }
    }
</script>

<style scoped>

</style>
