<template>
    <form>
        <div class="form-group">
            <label for="case_title">Case Title</label>
            <input type="text"
                   class="form-control"
                   id="case_title"
                   name="case_title"
                   @blur="updateFieldValue($event.target.name, $event.target.value)"
                   v-model="insuranceCase.case_title">
        </div>
        <div class="form-group">
            <label for="brand_id">Brand</label>
            <select
                class="form-control"
                id="brand_id"
                name="brand_id"
                v-model="insuranceCase.brand_id"
                @blur="updateBrandField($event.target.name, $event.target.value)"
                @change="fillBrandModels($event.target.value)">
                <option v-for="brand in brands" :key="brand.id" :value="brand.id">{{
                    brand.brand_name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="brand_model_id">Model</label>
            <select
                class="form-control"
                id="brand_model_id"
                name="brand_model_id"
                @blur="updateBrandModelField($event)"
                v-model="insuranceCase.brand_model_id">
                <option v-for="brandModel in brandModels"
                        :key="brandModel.id"
                        :isDrivetrainable="brandModel.is_drivetrainable"
                        :value="brandModel.id">
                    {{brandModel.model_name }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="mileage">Mileage</label>
            <input
                type="number"
                class="form-control"
                id="mileage"
                name="mileage"
                @blur="updateMileageValue($event.target.name, $event.target.value)"
                v-model="insuranceCase.mileage">
        </div>
        <div class="form-group">
            <label for="buying_date">Buying date</label>
            <input
                type="date"
                class="form-control"
                id="buying_date"
                name="buying_date"
                @blur="updateDateField($event.target.name, $event.target.value)"
                v-model="insuranceCase.buying_date">
        </div>
    </form>
</template>

<script>
    import InsuranceCaseModel from '../models/InsuranceCase';
    import {eventBus} from '../store';

    export default {
        name: "FormFirstPageComponent",
        props: ['insuranceCase'],
        data() {
            return {
                eventBus: eventBus,
                brands: [{id: 0, brand_name: 'select'}],
                brandModels: [{id: 0, model_name: 'select brand first'}],
            }
        },
        created() {
            InsuranceCaseModel.getBrands()
                .then((response) => {
                    this.brands = response.data;
                    if (this.insuranceCase.brand_id != undefined) {
                        this.fillBrandModels(this.insuranceCase.brand_id);
                    }
                })
                .catch(error => console.log(error));
        },
        methods: {
            fillBrandModels(brandId) {
                InsuranceCaseModel.getBrandModels(brandId)
                    .then((response) => {
                        this.brandModels = response.data;
                    })
                    .catch(error => console.log(error));
            },
            updateFieldValue(fieldName, fieldValue) {
                let data = {};
                data[fieldName] = fieldValue;
                InsuranceCaseModel.updateFieldValue(this.insuranceCase.id, data)
                    .then((response) => {
                        console.log(response.data);
                    })
                    .catch(error => console.log(error));
            },
            updateMileageValue(fieldName, fieldValue) {
                if (!fieldValue.match(/[\d+]/)) {
                    alert('Only numbers allowed');
                    return false;
                }
                if (fieldValue > 100000) {
                    alert('We can insure your car');
                    eventBus.setIsButtonDeactivated(true);
                } else {
                    eventBus.setIsButtonDeactivated(false);
                }
                this.updateFieldValue(fieldName, fieldValue);
            },
            updateBrandField(fieldName, fieldValue) {
                this.updateFieldValue(fieldName, fieldValue);
                this.updateFieldValue('brand_model_id', null);
            },
            updateBrandModelField(event) {
                let fieldName = event.target.name;
                let fieldValue = event.target.value;
                this.updateFieldValue(fieldName, fieldValue);

                let isDrivetrainable = event.target.options[event.target.options.selectedIndex].getAttribute('isdrivetrainable');
                if (isDrivetrainable == 1) {
                    eventBus.setIsDrivetrainable(true);
                } else {
                    eventBus.setIsDrivetrainable(false);
                    this.insuranceCase.drivetrain = null;
                }
            },
            updateDateField(fieldName, fieldValue) {
                if (fieldValue.trim() != '') {
                    if (!fieldValue.match(/[\d]{4}-[\d]{2}-[\d]{2}/)) {
                        alert('Date format should be yyyy-mm-dd');
                        return false;
                    }
                    this.updateFieldValue(fieldName, fieldValue);
                }
            }
        }
    }
</script>

<style scoped>

</style>
