<template>
    <form>
        <div class="form-group">
            <label for="color_id">Color</label>
            <select class="form-control"
                    id="color_id"
                    name="color_id"
                    v-model="insuranceCase.color_id"
                    @blur="updateFieldValue($event.target.name, $event.target.value)">
                <option v-for="color in colors" :key="color.id" :value="color.id">
                    {{ color.color_name }}
                </option>
            </select>
        </div>
        <div class="form-group" v-if="eventBus.getIsDrivetrainable()">
            <label for="drivetrain">Drivetrain</label>
            <select class="form-control"
                    id="drivetrain"
                    name="drivetrain"
                    v-model="insuranceCase.drivetrain"
                    @blur="updateFieldValue($event.target.name, $event.target.value)">
                <option v-for="drivetrainType in drivetrainTypes" :key="drivetrainType.id"
                        :value="drivetrainType.drivetrain_name">
                    {{ drivetrainType.drivetrain_name }}
                </option>
            </select>

        </div>
        <div class="form-group">
            <label for="picture">Picture</label>
            <input type="text"
                   class="form-control"
                   id="picture"
                   name="picture"
                   @blur="updateFieldValue($event.target.name, $event.target.value)"
                   v-model="insuranceCase.picture">
        </div>
        <div class="form-group">
            <a data-toggle="tab" v-if="isNotFinished" class="nav-link btn btn-info ml-2"
               :class="{disabled: isButtonDisabled()}"
               @click="finishCase()" href="#list">Get Quote</a>
        </div>
    </form>
</template>

<script>
    import InsuranceCaseModel from '../models/InsuranceCase';
    import Color from '../models/Color';
    import {eventBus} from '../store';
    import Settings from '../settings';

    export default {
        name: 'FormSecondPageComponent',
        props: ['insuranceCase', 'isNotFinished'],
        data() {
            return {
                eventBus: eventBus,
                colors: [Color.getSample()],
                drivetrainTypes: [
                    {id: 1, drivetrain_name: '2X2'},
                    {id: 2, drivetrain_name: '4X4'},
                ]
            }
        },
        created() {
            Color.getColors()
                .then((response) => {
                    this.colors = response.data;
                })
                .catch(error => console.log(error));
        },
        methods: {
            updateFieldValue(fieldName, fieldValue) {
                let data = {};
                data[fieldName] = fieldValue;
                InsuranceCaseModel.updateFieldValue(this.insuranceCase.id, data)
                    .then((response) => {
                        console.log(response.data);
                    })
                    .catch(error => console.log(error));
            },
            finishCase() {
                let data = {is_finished: true};
                InsuranceCaseModel.updateFieldValue(this.insuranceCase.id, data)
                    .then((response) => {
                        this.$emit('finishCase');
                    })
                    .catch(error => console.log(error));

            },
            isButtonDisabled() {
                return this.insuranceCase.mileage > Settings.mileageMax;
            }
        }
    }
</script>

<style scoped>

</style>
